body {
    font-family: Roboto, sans-serif;
    background: url(../img/background.png) no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.container {
    position: absolute;
    height: 768px;
    width: 1028px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
.header a:hover{
    color: #F26522;
}
main a:hover {
    color: #F26522;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 51px;
}
.logo-img {
    margin-right: 8px;
}
.logo-text {
    display: flex;
    flex-direction: column;
}
.logo {
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo-smaller-part {
    margin-top: 3px;
    font-size: 18px;
    line-height: 18px;
}
.logo-header {
    display: flex;
    flex-direction: row;
}
.logo-header:hover{
    filter: invert(50%) sepia(30%) saturate(1805%) hue-rotate(339deg) brightness(93%) contrast(105%);
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.mail {
    margin-bottom: 19px;
}
.first-row, .second-row {
    display: flex;
    flex-direction: row;
}
.main-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    margin-right: 65px;
    margin-top: 20px;
}
.main-block img {
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}
.main-headings{
    text-align: center;
}
.plug-details {
    display:none;
    background: #F26522;
    position: absolute;
    width: 300px;
    height: 55px;
    top: 165px;
}
.main-block:hover .plug-details{
    display: block;
    color: #FFFFFF;
}
.plug-details-text {
    margin-top: 6px;
    margin-left: 16px;
}
.from {
    font-size: 10px;
    line-height: 10px;
}
.price-n-details {
margin-top: 8px;
}
.price {
    font-size: 20px;
    line-height: 20px;
    margin-right: 128px;
}
.details {
    font-size: 14px;
    line-height: 14px;
}
.details::after {
    width: 5px;
    height: 10px;
    content: url(../img/after-arrow.png);
    margin-left: 16px;
}
footer {
    margin-top: 160px;
    margin-bottom: 15px;
    text-align: center;
}
.copyright {
    margin-top: 12px;
    font-size: 12px;
    line-height: 12px;
}